a{
    width: 250px;
    border-radius: 10px !important;
    margin: 5px;
    background-color: black;
    color: white;
}



.containerfifthSection{
    display: flex;
    justify-content: center;
    width: 84%;
    max-width: 1365px;
    flex-direction: column;
    align-items: flex-start;
}


@media screen and (max-width: 768px) {
    .containerfifthSection{
        width: 100%;
      padding: 10px;
      display: flex !important;
      align-items: center !important;
    }

    .flex-column{
        flex-wrap: wrap !important;
    }
    .nav-pills .nav-link{
        width: 46% !important;
        display: flex !important; 
        justify-content: center !important;
        align-items: center !important;
    }
    .nav-pills .nav-link.active{
        width: 46% !important;
    }
}